# Python
*.pyc
__pycache__/
*.pyo

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/


.DS_Store
Thumbs.db

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
build/
dist/
*.env
.DS_Store
Thumbs.db
.vscode/
*.log
*.swp
backend/base_app/migrations