boto3==1.14.31
colorama==0.4.4
Django==3.1.4
django-ckeditor==5.9.0
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-filter==2.3.0
django-js-asset==1.2.2
django-storages==1.9.1
djangorestframework==3.11.1
djangorestframework-simplejwt==4.3.0
docutils==0.15.2
filelock==3.0.12
Pillow
psycopg2-binary
requests==2.23.0
urllib3==1.25.9
flake8